body {
  font-family: "Roboto", sans-serif;
}
/* banner */
.banner {
  background-image: url("../image/bannerFrom.jpg");
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  background-size: cover;
}
/* header */
.header_From {
}
.header_From .header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
}
.header_From .description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  padding-bottom: 20px;
}
/* from */
.formCustomiz {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.from {
  display: flex;
  flex-direction: column;
}
.steps {
  display: flex;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding: 24px 0;
}
.step {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #3d3d3d;
  font-size: 16px;
  border: 0.5px solid #c6c6c6;
  font-family: "Roboto";
  font-weight: 600;
}
.step span {
  font-size: 16px;
  font-family: "Roboto";
  font-weight: 600;
}
.step.active {
  background: #157ffb;
  color: #fff;
}

.stepLiner {
  height: 1.5px;
  background-color: #b3b3b3;
  width: 50px;
  position: relative;
  margin-right: 6px;
}
.stepLiner.active {
  background: #157ffb;
}
.stepLiner::before {
  content: "";
  right: 0;
  top: -0.7px;
  position: absolute;
  height: 1.5px;
  width: 1.5px;
  border: 1.5px solid;
  border-color: #b3b3b3 #b3b3b3 transparent transparent;
  transform: rotate(43deg);
}
.stepLiner.active::before {
  border-color: #157ffb #157ffb transparent transparent;
}
/* liner form */
.line_from {
  width: 100%;
  height: 1px;
  background-color: #dddddd;
}
/* from input */
.fromInput {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.inputcontainter {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputcontainter .fromTitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}
.Mail_name {
  display: flex;
  align-items: center;
  gap: 9px;
  margin-top: -5px;
}
.name,
.mail {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.name label,
.mail label,
.nationalty label {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #3d3d3d;
  text-transform: capitalize;
}
.nationalty {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}
#select-beast + .ts-wrapper.single .ts-control {
  border-radius: 10px;
}
.arrowNatioality {
  position: absolute;
  bottom: 13px;
  z-index: 100;
  right: 20px;
  cursor: pointer;
}
.ts-control {
  padding: 14px 8px !important;
}
.name input[type="text"],
.mail input[type="text"] {
  padding: 14px 8px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
}
.name input[type="text"]::placeholder,
.mail input[type="text"]::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #c0c0c0;
  text-transform: capitalize;
}
.name input[type="text"]:focus,
.mail input[type="text"]:focus {
  outline: none;
}
.condNumberConteiner label {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #3d3d3d;

  text-transform: capitalize;
}
.inputNumberContainer {
  display: flex;
}
.code {
  width: 100px;
  position: relative;
}
.arrowCode {
  position: absolute;
  top: 14px;
  z-index: 100;
  right: 5px;
  cursor: pointer;
}

#select-code + .ts-wrapper.single .ts-control {
  padding: 17.2px 10px !important;
  border-radius: 10px 0 0 10px !important;
  border-right: 0;
}
.number {
  flex: 1;
}
.number input[type="number"] {
  padding: 14px 8px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 0 10px 10px 0;
  width: 91%;
}
.number input[type="number"]::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #c0c0c0;
  text-transform: capitalize;
}
.number input[type="number"]:focus {
  outline: none;
}
.inputCounterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
}

.counterContainer p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}
.counter {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
  padding: 10px 9px;
  background: #ffffff;
  border: 0.5px solid #d8d8d8;
  border-radius: 5px;
}
.counter.Children {
  /* margin-right: -5px; */
}
.C_counter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;

  color: #c0c0c0;
}
.add {
  width: 28px;
  height: 21px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
}
.remove {
  width: 28px;
  height: 21px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  padding: 0 4px;
  border-radius: 4px;
}
.add:hover,
.remove:hover {
  transform: scale(0.9);
}
/* buttom */
.nextButtom {
}
.nextButtom button {
  padding: 8.04104px;
  padding: 10px 20px;
  background: #003366;
  box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.05),
    inset 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.nextButtom button span {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  color: #ffffff;
}
.nextButtom button:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.nationAndNumber {
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.counterInput {
  text-align: center;
  border: none;
  width: 60px;
}
.stepsSection {
  background: #ffffff;
  /* Shadow */

  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #d8d8d8;
  box-shadow: -4px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px 16px 0px 0px;
}
.singelStep {
  position: relative;
}
.contentStep {
  position: absolute;
  font-size: 13px;
  width: 95px;
  bottom: -21px;
  left: -84%;
  font-weight: 700;
  color: #7c7c7c;
}
.lauStep {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid #003366;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lauStep span {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  color: #003366;
}
.lauStep.active {
  color: #fff;
  background: #f70759;
  border: none;
}
.lauStep.active span {
  color: #fff;
}
/* responsev desktop */
@media only screen and (min-width: 768px) {
  .banner {
    height: 100%;
    padding-bottom: 160px;
    padding-top: 70px;
  }
  .from {
    flex-direction: row-reverse;
  }
  .container {
    width: 70%;
    margin-top: 20px;
  }
  .line_from {
    width: 1px;
    height: auto;
  }
  .header_From .header {
    font-size: 48px;
  }
  .header_From .description {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }
  .steps {
    width: 40%;
    flex-direction: column;
    justify-content: center;
  }
  .inputcontainter .fromTitle {
    font-size: 30px;
  }
  .nationAndNumber {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: row;
  }

  .inputNumberContainer {
  }
  .inputCounterContainer {
    flex-wrap: nowrap;
    gap: 25px;
  }

  .nextButtom button {
    font-size: 24px;
  }

  .stepsSection {
  }
  .stepsSection {
  }
  .formCustomiz {
    width: 70%;
    margin: 0 auto;
  }
}
