.carousel-caption.contentHeader {
  position: absolute;
  top: 156px;
  left: 14px;
}

.carousel-caption.contentHeader p {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  text-align: left;
  color: #ffffff;
}
.infoTour {
  position: absolute;
  z-index: 20;
  bottom: 35px;
  width: 100%;
  color: #ffffff;
}
.infoTour ul li span {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 14px;
  color: #ffffff;
}
.infoTour ul li:nth-of-type(3) i {
  color: #ffe234;
}
.carousel-item img {
  height: 300px;
}
.tapsTour {
  background: #01a8c3;
  padding: 10px !important;
  position: absolute;
  top: -23px;
  width: 100%;
  left: 12px;
  transform: translate(-0%, 0%);
}
.layoutviews {
  display: none;
}
.layoutviews.active {
  display: block;
}
.tapsTour li {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}
.tapsTour li.active {
  background: #003366;
  padding: 8px;
  color: #ffff;
}
.video_container {
  height: 263px;
}
.video_container video {
  object-fit: cover;
}
.content_overview {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: justify;
  color: #3d3d3d;
}
.header_included {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
}
.included_section li span,
.exincluded_section li span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3d3d3d;
}
.included_section li i {
  font-size: 16px;
  color: #69e230;
}
.exincluded_section li i {
  font-size: 16px;
  color: #ff5449;
}
.inquireSection {
  background: #f5f5f5;
  background: #ffffff;
  /* Shadow */

  border-width: 0.5px 1px 1px 0.5px;
  border-style: solid;
  border-color: #d8d8d8;
  box-shadow: 0px 4px 30px rgba(190, 190, 190, 0.32);
  border-radius: 30px;
}
.headerInquery {
  background: #003366;
  padding: 14px;
  border-radius: 30px 30px 0px 0px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.form_inquire label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #3d3d3d;
}
.code_selected {
  width: 90px;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.inputCode {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.startDate,
.endDate,
.textArea {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.startDate input,
.endDate input {
  padding: 11px 0px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 100%;
}
.startDate input::placeholder,
.endDate input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #c0c0c0;
  padding-left: 8px;
}
.startDate input:focus,
.endDate input:focus {
  outline: none;
}
.inputCounter {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
}
.inputCounter span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #c0c0c0;
  cursor: pointer;
}
.counterbox {
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: ease-in-out 0.2s;
}
.counterbox.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.counterbox .counter {
  padding: 15px;
}
.counterContainer i,
.counterContainer span {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  color: #003366;
  font-size: 19px;
}
.textCounter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #3d3d3d;
}
.counterContainer input {
  /* width: 40px; */
  background-color: transparent !important;
  border: 0;
  text-align: center;
}
.counterContainer input:focus {
  box-shadow: none !important;
}
.form-select {
  background-size: 16px 40px;
}
.counterContainer img:hover {
  transform: scale(0.9);
}
.buttoncounter {
  background: #01a8c3;
  border-radius: 10px;
}
.buttoncounter:hover {
  transform: scale(0.9);
}
.buttoncounter button {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.contextFormInauire {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #7a7a7a;
}
.flightFelid {
  display: block;
}
.flightFelid.active {
  display: block;
}
.form-group textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #c0c0c0;
}
.bottonInqueryFrom {
  width: 99px;
  height: 38px;
  background: #003366;
  box-shadow: inset -5px -5px 4px rgba(255, 255, 255, 0.05),
    inset 5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.bottonInqueryFrom:hover {
  transform: scale(0.9);
}
.bottonInqueryFrom button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.headerItinerary .content span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
}
.headerItinerary .content div {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 10px;
  letter-spacing: 0.5px;
  color: #3d3d3d;
}
.stepItinerary {
  background: #01a8c3;
  width: 30px;
  height: 30px;
  color: white;
  display: none !important;
}
.itineraryDay {
  background: #f5f5f5 !important;
  border: 1px solid #e5e5e5 !important;
  border-radius: 8px !important;
}
.itineraryDay .headerday {
  font-family: "Cairo", sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 34px !important;
  color: #003366 !important;
}

.headerAccommmedation {
  background: #ffffff;
  padding: 10px;
}
.headerAccommmedation span {
  font-family: "Nekolina";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-color);
}
.durationPrice span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #3d3d3d;
  text-transform: uppercase;
}
.pricesList li {
  background: #ffffff;
  padding: 10px;
  border-bottom: 0.5px solid #001f3d;
}
.pricesList li span:nth-of-type(1) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}
.pricesList li span:nth-of-type(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  letter-spacing: -0.02em;
  color: var(--main-color);
}
.contentAccommmedation {
  padding: 0 12.9715px;
}
.contentAccommmedation div:nth-of-type(1) span:nth-of-type(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 12.9715px;
  line-height: 14px;
  text-align: center;
  color: #3d3d3d;
}
.contentAccommmedation div:nth-of-type(1) span:nth-of-type(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 10.64769px;
  line-height: 9px;
  text-align: center;
  color: #7a7a7a;
}
.tabletext {
  font-style: normal;
  font-weight: 700;
  font-size: 12.9715px;
  line-height: 13px;
  color: #3d3d3d;
  text-align: left;
}
.roomType {
  width: 100%;
}
.roomType span {
  font-style: normal;
  font-weight: 400;
  font-size: 10.3772px;
  line-height: 10px;
  color: #3d3d3d;
}
.seconsText,
.priseAccommmedation {
  height: 150px;
}
.seconsText span:nth-of-type(1) {
  font-style: normal;
  font-weight: 700;
  font-size: 12.9715px;
  line-height: 14px;
  text-align: center;
  color: #3d3d3d;
}
thead tr th:nth-of-type(1) {
  background: #01a8c3;
  color: #ffffff;
}
thead tr {
  background: #f5f5f5;
}
.seconsText span:nth-of-type(2) {
  font-style: normal;
  font-weight: 400;
  font-size: 8.64769px;
  line-height: 9px;
  text-align: center;
  color: #7a7a7a;
}
.priseAccommmedation span {
  font-style: normal;
  font-weight: 700;
  font-size: 20.7545px;
  line-height: 21px;
  text-align: center;
  color: #3d3d3d;
}
.headerInfo {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3d3d3d;
}
.accordion-item.mt-4.rounded-3 {
  background: #fff;
}
.hotelImage img {
  max-width: 100%;
  width: 100%;
  height: 253px;
  border-radius: 20px;
}
.starhotel i {
  color: #e8b040;
  font-size: 22px;
}
.starhotel i:nth-last-child(1) {
  font-weight: lighter;
  color: #a8a8a8;
}
.nameHotle span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3d3d3d;
}
.accordion-item:not(:first-of-type) {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}
#sliderGloben .splide__arrow {
  border: none !important;
  bottom: -21%;
  top: unset;
}
#sliderGloben .splide__arrow i {
  /* opacity: 1; */
  color: #3d3d3d;
}
#sliderDiamond .splide__arrow {
  border: none !important;
  bottom: -21%;
  top: unset;
}
#sliderDiamond .splide__arrow i {
  /* opacity: 1; */
  color: #3d3d3d;
}
.formRview {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 10px;
  background: #f5f5f5;
  border-radius: 10px;
}
.formRview .header {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #3d3d3d;
}
.rateText {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3d3d3d;
}
.rateStar {
  background: #ffffff;
  border: 1px solid #dedede;
  border-radius: 5px;
}
/* rate star */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: "★ ";
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #ffe234;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

/* end rate star */
.ReviewTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3d3d3d;
}
.recommend {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #3d3d3d;
}
.formRview .buttomSubmit {
  background: #01a8c3;
  border-radius: 5px;
  padding: 8px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  margin: 0 auto;
  cursor: pointer;
}
.formRview .buttomSubmit:hover {
  transform: scale(0.9);
}
.formRview .buttomSubmit button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}
.fotorama__wrap .fotorama__pointer {
  border-radius: 15px;
}
.fotorama__thumb {
  border-radius: 15px;
}
.fotorama1676740941234 .fotorama__thumb-border {
  border-radius: 15px;
}
.fotorama1676741244378 .fotorama__nav--thumbs .fotorama__nav__frame {
  margin-right: 12px;
}
/* .fotorama__thumb-border {
  margin-right: 12px;
} */
/* responsev singel tour */
.singelItemHeader {
  background-image: url(../../image/slider1.jpg);
  width: 100%;
  height: 258px;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.singelItemHeader::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    29.7deg,
    rgba(0, 0, 0, 0.3) 11.74%,
    rgba(0, 0, 0, 0) 97.86%
  );
}
.contentSlider {
  position: absolute;
  top: 36%;
  left: 38%;
  transform: translate(-50%, -50%);
  background: rgba(61, 61, 61, 0.5);
  padding: 10px 30px;
  width: 260px;
  height: 87px;
}
.contentSlider span {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #ffffff;
}
.priceSingle {
  background: var(--secondary-color);
  border-radius: 30px 5px 5px 5px;
  width: 152px;
  height: 49px;
}
.priceSingle span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}
.border_notbutton {
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #d8d8d8;
}
.boxfeature {
  width: 100%;
  height: 120px;
  padding: 10px;
  background: #ffffff;
}
.boxfeature span {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #3d3d3d;
}
.descHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #3d3d3d;
}
.descSingle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}
#image-carousel .splide__slide img {
  height: 269px !important;
}
#thumbnail-carousel .splide__slide {
  height: 63px !important;
  width: 79px !important;
}
#thumbnail-carousel .splide__slide img {
  height: 100% !important;
}
.splide__track--nav > .splide__list > .splide__slide.is-active {
  border: none !important;
}
#thumbnail-carousel .splide__track {
  /* display: none; */
  overflow-x: scroll;
}
#thumbnail-carousel .splide__track::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
  min-height: 4px;
}

#thumbnail-carousel .splide__track::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--main-color);
}
.boxIncluded {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 20px;
}
.boxIncluded span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3d3d3d;
}
.boxIncluded ul li span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #3d3d3d;
}
.itineraryHead span {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #3d3d3d;
}
.accordion-button.dayHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #3d3d3d;
}
.accordion-item.dayHeader {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  border-radius: 30px !important;
}
#map a {
  display: none !important;
  visibility: hidden !important;
}
.tapsContainer {
  background-color: #fff;
}
.singelTap span {
  font-size: 14px;
  color: var(--main-color);
}
.singelTap.active {
  border-bottom: 3px solid #69e230;
}
.iconFeature i {
  color: #69e230;
  font-size: 30px;
}
.iconIncluded {
  color: #69e230;
}
.iconUncluded {
  color: #69e230;
}
@media only screen and (max-width: 786px) {
  .sticky-Section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  #new-product .splide__arrow {
    top: 84%;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
  }

  #new-product .splide__arrow--prev {
    left: 16em;
  }
  #new-product .splide__pagination {
    bottom: 5.5em;
    right: 139px;
  }
  #new-product .splide__pagination__page {
    width: 14px;
    height: 14px;
    margin: 10px;
  }
}
@media only screen and (min-width: 786px) {
  .carousel-item img {
    height: 500px;
  }
  /* .sticky-Section {
    position: relative;
  } */
  .carousel-caption.contentHeader {
    top: auto;
    bottom: 114px;
    left: 10px;
  }
  .fotorama__wrap .fotorama__pointer {
    cursor: pointer;
    margin-bottom: 24px;
  }
  .carousel-caption.contentHeader p {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 25px;
    text-align: left;
    color: #ffffff;
  }
  .infoTour ul li span {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 14px;
    color: #ffffff;
  }
  .tapsTour {
    background: #01a8c3;
    width: 95%;
  }
  .tapsTour {
    background: #01a8c3;
    padding: 10px !important;
    position: absolute;
    top: 0;
    width: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .tapsTour li {
    font-size: 18px;
    line-height: 17px;
  }
  .content_overview {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #3d3d3d;
  }
  .included_section li span,
  .exincluded_section li span {
    font-size: 18px;
  }
  .table > :not(caption) > * > * {
    padding: 1rem 1rem !important;
  }
  .seconsText span:nth-of-type(1) {
    font-size: 18.9715px;
  }
  .seconsText span:nth-of-type(2) {
    font-size: 14.64769px;
  }
  .tabletext {
    font-size: 16.9715px;
    line-height: 23px;
  }
  .roomType span {
    font-size: 14.3772px;
  }
  .priseAccommmedation span {
    font-size: 24.7545px;
  }
  .formRview {
    padding: 22px;
  }
  .tapsTour li.active {
    background: #003366;
    color: #fff;
    padding: 10px;
  }
  .itineraryDay .headerday {
    font-family: "Cairo", sans-serif !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 10px !important;
    color: #3d3d3d !important;
  }
  .itineraryDay .headerday {
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 30px !important;
    color: #3d3d3d !important;
  }
  .singelItemHeader {
    height: 526px;
  }
  #new-product .splide__arrow {
    top: 84%;
    width: 50px;
    height: 50px;
    border: 1px solid #ffffff;
  }

  #new-product .splide__arrow--next {
    right: 1em;
  }
  #new-product .splide__pagination {
    bottom: 5.5em;
    right: unset;
    left: 20%;
  }
  #new-product .splide__pagination__page {
    width: 14px;
    height: 14px;
    margin: 10px;
  }
  .contentSlider {
    top: 62%;
    left: 28%;
    padding: 10px 30px;
    width: 386px;
  }
  #new-product .splide__slide.is-visible.is-active {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #new-product .splide__slide.is-visible.is-next {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #new-product .splide__slide.is-visible.is-prev {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #sliderDiamond .splide__slide.is-visible.is-active {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #sliderDiamond .splide__slide.is-visible.is-next {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #sliderDiamond .splide__slide.is-visible.is-prev {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #sliderGloben .splide__slide.is-visible.is-active {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #sliderGloben .splide__slide.is-visible.is-next {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #sliderGloben .splide__slide.is-visible.is-prev {
    transform: scale(1); /* Increase the scale of the active slide */
    z-index: 1; /* Ensure the active slide appears on top */
  }
  #image-carousel .splide__slide img {
    height: 563.65px !important;
  }
  .boxIncluded {
    height: 100%;
  }
}
